<h1>Here's a list of lists!</h1>

<ul>
  <% @lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list) %> </li>
  <% end %>
</ul>

<p><%= link_to "Wanna make a list?", new_list_path(@list) %> </p>
